<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Notes</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <h1>Welcome <%= msg.firstName %> <%= msg.lastName%></h1>
    <a href="/login">LOGOUT</a>
    <div class="container">
        <form action="/notes" method="POST">
            <label for="note">Note</label>
            <input type="text" name="note" id="note">
            <button type="submit">Add Note</button>
        </form>
    </div>
    <div class="all-notes">

            <% if(msg.messages){ %>
              <% for(let i = 0; i < msg.messages.length; i++){ %>
            
                  <p> <%=msg.messages[i]%> <a href="/<%= msg.messages[i].split(' ').join('') %>">DELETE</a></p>
              <%}%>

            <%}%>
        
    </div>
</body>
</html>